<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 Error Page</title>
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h4 data-text="Opps! Page not found">
               Opps! Page not found
            </h4>
            <p>
               Sorry, the page you're looking for doesn't exist. Please to go login page.
            </p>
            <div class="btns">
               <a routerLink="/login">return to login</a>
            </div>
         </div>
      </div>
   </body>
</html>